.cart-main-conatiner{
    display: flex;
    overflow: auto;
    height: 85vh;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
}
#middleSection{
    width: 100%;
    display: block;
}
.cart-item-container{
    margin: 0.5em;
}
.cart-main-conatiner::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.cart-car-prize{
    padding-top: 0.7rem;
}
.cart-car-prize .main-prize{
    text-decoration: line-through;
    font-size: 0.9rem;
}
.cart-car-prize .offer-prize{
    font-size: 1.2rem;
}
.white-bg{
    background-color: var(--white);
}
#cart-card-discount-tag{
    font-size: 1rem;
    color: var(--danger);
    padding-top: 0.7rem;
    display: block;
    font-weight: 600;
}
.cart-card-btn{
    margin-top: 1.5rem;
}
.cart-card-btn button{
    margin-top: 0.5rem;
}
.cart-quantity-box{
    padding-top: 0.7rem;
}